@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  text-size-adjust: 100% !important;
}

:root{
  --text-color: #565360;
  --dark-bg-color: #28282b;
  --light-bg-color: #edeffe; 
  --light-primary-text-color: #373b61;
}

.root {
  text-transform: uppercase;
  display: flex;
  overflow-x: hidden !important;
}

.navigation-bar{
  color:var(--dark-bg-color)!important;
  background: var(--light-bg-color);
}

.progress-bar {
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background: whitesmoke;
  transform-origin: 0%;
}

.heading {
  font-family: "Montserrat", san-serif;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 7.5px rgba(0,0,0,0.5);
}

/* -----HOME SECTION----- */

.home-section {
  width: 100%;
  height: 90vh;
  align-content: center;
  justify-content: center;
  color:var(--light-bg-color);
  background: var(--dark-bg-color);
}

.home-section img{
  cursor: pointer;
  transition:transform 1s ease-in-out;
}

.home-section img:hover {
  transform: rotate(360deg);
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  font-family: "Montserrat", san-serif;
  text-shadow: 1rem 1rem 7.5px rgba(0,0,0,0.5);
}

.home-text h3 {
  font-size: 3rem !important;
}

/* -----ABOUT SECTION----- */

.about-section {
  width: 100%;
  height: 90vh;
  font-family: "Montserrat", san-serif;
  align-content: center;
  justify-content: center;
  color:var(--light-bg-color);
  background: var(--dark-bg-color);
  /* border: 1px solid green; */
}


p{
  font-family: "Montserrat", san-serif;
  text-align: justify;
  font-size: 1rem !important;
}

/* -----SKILLS SECTION----- */

.skills-section {
  width: 100%;
  height: 90vh;
  overflow-x: hidden !important;
  font-family: "Montserrat", san-serif;
  align-content: center;
  justify-content: center;
  color: var(--light-bg-color);
  background: var(--dark-bg-color);
}

.marquee {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  overflow-x: hidden !important;
}

.skill-card {
  padding-top: 1rem;
  border: 2px solid black;
  /* transition: box-shadow 5s ease-in-out; */
}

.skill-card img {
  width: 5rem;
  height: 5rem;
}

[glow] .skill-card {
  color: aqua;
  border: 2px solid aqua;
}

/* -----PROJECTS SECTION----- */
 
.projects-section {
  width: 100%;
  height: fit-content;
  font-family: "Montserrat", san-serif;
  align-content: center;
  justify-content: center;
  padding: 5rem;
  color: var(--light-bg-color);
  background: var(--dark-bg-color);
}

[glow] .project-card {
  color: black;
  border: 2px solid black;
  box-shadow: 2rem 2rem 1rem aqua;
} 

/* -----FOOTER----- */

.footer-section {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  font-family: "Montserrat", san-serif;
  color:var(--light-primary-text-color);
  background: whitesmoke;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(blue);
  bottom: 100px;
}

/* -----RESPONSIVENESS----- */

@media screen and (max-width: 900px) {
  .progress-bar{
    height: 7vh;
  }
 
  .home-section{
    height: 100vh;
    padding-top: 3rem;
  }

  .home-text {
    font-size: 2rem;
  }

  .home-text h3 {
    font-size: 1.5rem;
  }

  .home-section img {
    transition: none;
  }

  .about-section{
    height: fit-content;
  }

  .marquee {
    width: 90%;
    overflow-x: hidden;
  }
}