
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  text-size-adjust: 100% !important;
}

:root{
  --text-color: #565360;
  --dark-bg-color: #28282b;
  --light-bg-color: #edeffe; 
  --dark-primary-color: #f5f5f5;
  --dark-secondary-text-color: #373b61;
}

.root {
  text-transform: uppercase;
  display: flex;
  overflow-x: hidden !important;
  font-family: "IBM Plex Sans", sans-serif;
}

.progress-bar {
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background: whitesmoke;
  transform-origin: 0%;
}

.heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 7.5px rgba(0,0,0,0.5);
}

/* -----HOME SECTION----- */

.home-section {
  width: 100%;
  height: 90vh;
  align-content: center;
  justify-content: center;
  color:var(--dark-primary-color);
  background: var(--dark-bg-color);
}

.home-section img{
  cursor: pointer;
  transition:transform 1s ease-in-out;
}

.home-section img:hover {
  transform: rotate(360deg);
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 1rem 1rem 7.5px rgba(0,0,0,0.5);
}

.home-text h3 {
  font-size: 3rem !important;
}

/* -----ABOUT SECTION----- */

.about-section {
  width: 100%;
  height: 90vh;
  font-family: "IBM Plex Sans", sans-serif;
  align-content: center;
  justify-content: center;
  color:var(--dark-primary-color);
  background: var(--dark-bg-color);
}


p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem !important;
}

/* -----SKILLS SECTION----- */

.skills-section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  overflow-y: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  align-content: center;
  justify-content: center;
  color: var(--dark-primary-color);
  background: var(--dark-bg-color);
}
 
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.swiper {
  width: 100%;
  padding-top: 5rem;
}

.swiper-slide {
  background: none;
  height: 15rem;
}

.swiper-slide img {
  display: flex;
  width: 30%;
}

/* -----PROJECTS SECTION----- */
 
.projects-section {
  width: 100%;
  height: fit-content;
  font-family: "IBM Plex Sans", sans-serif;
  align-content: center;
  justify-content: center;
  padding: 5rem;
  color: var(--dark-primary-color);
  background: var(--dark-bg-color);
}

/* -----FOOTER----- */

.footer-section {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color:var(--light-secondary-text-color);
  background: whitesmoke;
}

/* -----RESPONSIVENESS----- */

@media screen and (max-width: 900px) {
  .progress-bar{
    height: 7vh;
  }
 
  .home-section{
    height: 100vh;
    padding-top: 3rem;
  }

  .home-text {
    font-size: 2rem;
  }

  .home-text h3 {
    font-size: 1.5rem;
  }

  .home-section img {
    transition: none;
  }

  .about-section{
    height: fit-content;
  }
  
}