:root {
  --primary-color: 
}

body {
  color: aliceblue !important;
  /* background: url(Components\bg-img.jpeg) no-repeat; */
  /* background-size: 100% auto; */
  background: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); 
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.nav-bar1 {
  position: sticky;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin: 0.5rem;
  border: none ;
  border-radius: 20px;
  color: aliceblue !important;
  background: rgba(255, 255, 255, 0.1);
}

.nav-btn:hover {
  border-bottom: 1px solid orange;
  /* box-shadow: 2px 2px 2px white; */
}



.home {
  /* background: url(Components\bg-img.jpeg) no-repeat; */
  /* background: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));  */
  height: 90vh;
}

.about-section {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* font-weight: 600; */
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 10rem;
}

.about-section span {
  font-weight: 600;
  font-size: 3rem;
  text-decoration: underline orange;
  text-underline-offset: 1rem;
}

.about-section img {
  height: auto;
  width: 18rem;
  image-orientation: flip;
  cursor: pointer;
}

.about-section p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 2.5rem;
}

img:hover {
  border: 2px solid orange;
}

.main-container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home span {
  display: inline;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  /* animation: blink-caret .5s step-end infinite; */
}

.typed-text {
  font-size: 2rem;
  color: aliceblue;
}

/* .home h1{
  color: aliceblue;
  overflow: hidden;
  border-right: .15em solid;
  white-space: nowrap;
  margin: auto 0;
  animation: typing 5.5s steps(70, end),
  blink-caret .5s step-end infinite;
} */

@keyframes typing{
  from {width: 0}
  to { width:100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: orange}
}